<div class="{{b}}__image">
    <img src={{product.image}} alt="{{product.name}}">
</div>

{{#if product.badge}}
    <div class="{{b}}__badge">{{product.badge}}</div>
{{/if}}

<h1 class="{{b}}__name">{{product.name}}</h1>

<div class="{{b}}__price"><i>$</i>{{product.price}}</div>